# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# External
**/external

*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
.cproject
.project
build*/
_bin*/
lib/
misc/
bin/
testingAq/
__pycache__
vk_video_decoder/bin/libs/ffmpeg/
.ccls-cache/
.claude/
CLAUDE.md
vk_video_encoder/test/gop_structure_test
